/**
* Exemples on how to use SASS
* 
* @author: Christophe Malo
*/
/* import */
@import 'reset';

$global-font: Helvetica, sans-serif;
$firstColor: #CCC;
$titleColor: #454545;
$pColor: #83021F;
$distance: 30px;

/* Use variable */
body {
    background: $firstColor;
    font: 100% $global-font;
    margin: $distance;
}
h1 {
    color: $titleColor;
}
p {
    color: $pColor;
}

/* Nesting */
nav {
    ul {
        /*margin: 0;
        padding: 0;*/
        list-style: none;
    }
    li {
        display: inline-block;
    }
    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
    }
}