/**
* Exemples on how to use SASS
* 
* @author: Christophe Malo
* @version: 0.1 0
*/
/* Import */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

h2 {
  margin-top: 50px; }

/* Use variable */
body {
  background: #CCC;
  font: 100% Helvetica, sans-serif;
  margin: 30px; }

h1 {
  color: #454545; }

p {
  color: #83021F; }

.clear {
  clear: both; }

/* Nesting */
nav ul {
  /*margin: 0;
  padding: 0;*/
  list-style: none; }
nav li {
  display: inline-block; }
nav a, nav #test-links .linkTest, #test-links nav .linkTest, nav #adminArea .userClass .addLink, #adminArea .userClass nav .addLink {
  display: block;
  padding: 6px 12px;
  text-decoration: none; }

#main {
  border: 1px solid #000;
  width: 90%; }
  #main div p {
    font-size: 2em; }
    #main div p a, #main div p #test-links .linkTest, #test-links #main div p .linkTest, #main div p #adminArea .userClass .addLink, #adminArea .userClass #main div p .addLink {
      font-weight: bold; }
  #main pre {
    font-size: 3em; }

/* Referencing Parent Selectors: & */
#parent {
  border: 1px solid #000;
  color: #000; }
  #parent a, #parent #test-links .linkTest, #test-links #parent .linkTest, #parent #adminArea .userClass .addLink, #adminArea .userClass #parent .addLink {
    font-weight: bold; }
    #parent a:hover, #parent .hoverlink, #parent #test-links .linkTest:hover, #test-links #parent .linkTest:hover, #parent #adminArea .userClass .addLink:hover, #adminArea .userClass #parent .addLink:hover {
      color: #83021F; }

/* Nested properties with namespace */
.testNamespace {
  font-family: Arial;
  font-size: 3em;
  font-weight: bold; }

/* use mixins */
.displayBox {
  border: 4px solid #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  height: 100px;
  width: 100px; }

/* Grid with operator */
.container {
  border: 1px solid #000;
  width: 100%; }

article[role="main"] {
  border: 1px solid #000;
  float: left;
  width: 62.5%; }

aside[role="complementary"] {
  border: 1px solid #000;
  float: right;
  width: 31.25%; }

/* Use interpolation */
p.interpolation {
  font-size: 15px;
  line-height: 30px; }

/* use nested import rule */
body .specificBlock {
  border: 10px solid red;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  height: 50px;
  width: 500px;
  margin: 20px;
  padding: 10px; }

/* Use nested media rule */
.simpleBox1 {
  border: 1px solid #000;
  height: 100px;
  width: 50%; }
  @media screen and (orientation: landscape) {
    .simpleBox1 {
      width: 100%; } }

/* two nested media */
@media screen and (orientation: landscape) {
  .simpleBox2 {
    border: 1px solid #000;
    height: 300px;
    width: 300px; } }

/* Extend / Inheritance rule */
/* Simple extend */
.message, .success, .error, .warning {
  border: 4px solid #000;
  margin: 10px;
  padding: 10px; }
  .message p, .success p, .error p, .warning p {
    color: #304C29; }

.success {
  border-color: #299A0B; }

.error {
  border-color: #C9224E; }

.warning {
  border-color: #D1C300; }

/* Another example */
.error2, .importantError {
  border: 1px solid darkmagenta;
  background-color: #FFD; }

.error2.intrusion, .intrusion.importantError {
  font-weight: bold; }

.importantError {
  border-width: 4px; }

/* Extends complex selectors */
.comment a.user:hover, .comment .user.hoverlink, .comment #test-links .user.linkTest:hover, #test-links .comment .user.linkTest:hover, .comment #adminArea .userClass .user.addLink:hover, #adminArea .userClass .comment .user.addLink:hover {
  font-weight: bold; }

a:hover, .hoverlink, #test-links .linkTest:hover, #adminArea .userClass .addLink:hover {
  text-decoration: none; }

/* Multiple extends */
.error3, .criticalError {
  border: 1px solid #000;
  background-color: #FFD; }

.warning3, .criticalError {
  font-size: 3em;
  background-color: #FF0; }

.criticalError {
  border-width: 4px; }

/* Extend test without HTML part */
/* Selector sequences */
a, #test-links .linkTest, #adminArea .userClass .addLink {
  color: blue; }
  a:hover, .hoverlink, #test-links .linkTest:hover, #adminArea .userClass .addLink:hover {
    text-decoration: underline; }

/* Merging selector */
#admin .navbar a, #admin .navbar #test-links .linkTest, #test-links #admin .navbar .linkTest, #admin .navbar #adminArea .userClass .addLink, #adminArea .userClass #admin .navbar .addLink {
  font-weight: bold; }

/* Extend only selector */
#context i.renderSelect {
  color: magenta;
  font-weight: bold;
  font-size: 2em; }

/* not produce selector if error or does not exist - use optional */
.optional {
  color: red;
  font-size: 2em; }

/* Extends in directives */
@media print {
  .class1, .class2 {
    border: 1px solid #000;
    background-color: #FFD; }

  .class2 {
    border-width: 4px; } }
/*
 * This is not work fine and generate error
 * Because the extend is outside the directive print
@media print {
    .class3 {
        border: $borderOne;
        background-color: $bgColor1;
    }
    .classError4 {
        @extend .error;
    }
}
*/
/* Use @at-root directive */
/* with out @at-root */
.parent1 {
  font-weight: bold; }
  .parent1 .child1 {
    border: 1px solid #000; }
  .parent1 .child2 {
    background-color: #FFD; }
  .parent1 .step-child {
    border-width: 4px; }

/* with @at-root */
.parent1 {
  font-weight: bold; }
  .child1 {
    border: 1px solid #000; }

  .child2 {
    background-color: #FFD; }
  .parent1 .step-child {
    border-width: 4px; }

/*# sourceMappingURL=output.css.map */
